body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 1.52;
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
    color: #333;
}
.navbar-default .navbar-nav > li > a {
    color: #333;
}
.navbar-default {
    background-color: #7DBAEE;
    border-color: #F5F5F5;
    font-size: 15px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #62AEF0;
    border-color: #fdf6e3;
    font-size: 15px;
}
.fa-goodreads-square:before {
    content: "\f02d";
}
.fa-bandcamp-square:before {
    content: "\f001";
}
#sidebar a {
    color: inherit;
    font-size: 14px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 6px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
}
footer {
    font-size: 14px;
}
